<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%= stranka.StRacunov %>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script> 
<script>
	$(document).ready(function () {
		var emailRegex = RegExp(/^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i);
		var registerCheck2 = false;
		var registerCheck = false;
		
		function validate(check)
		{
			$.getJSON( "https://api.lavbic.net/kraji", function( data ) 
			{
				var found = false;
				for(var i = 0; i < data.length-1;i++)
				{
					if(check.localeCompare(data[i].kraj) == 0 )
					{
						document.getElementById("PostalCode").value = data[i].postnaStevilka;
						document.getElementById("Country").value = "Slovenija";
						found = true;
						registerCheck2 = true;
						if(registerCheck == true)
						{
							document.getElementById("Register").disabled = false;
						}
					}
				}
				if(!found)
				{
					document.getElementById("PostalCode").value = "";
					document.getElementById("Register").disabled = true;
					document.getElementById("Country").value = "";
					registerCheck2 = false;
				}
			});
		}

		document.getElementById("City").addEventListener("keyup", function () {
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
				registerCheck2 = false;
			}
			var check = this.value;
			validate(check);

		});
		
		$.getJSON( "https://api.lavbic.net/kraji", function( data ) 
		{
			var arr = [ ];
			for(var i = 0; i < data.length-1;i++)
			{
				arr.push(data[i].kraj);
			}
			var options = 
			{
				data: arr,
				list: 
				{
					match: 
					{
						enabled: true
					},
					onClickEvent: function() {
						validate(document.getElementById("City").value);
					}
				}
			};
			
			$("#City").easyAutocomplete(options);
		});
		
		
		
		document.getElementById("Email").addEventListener("keyup", function () 
		{
			if (this.value.length > 0) 
			{
				if(emailRegex.test(this.value))
				{
					document.getElementById("EmailValidate").className = "glyphicon glyphicon-ok";
					registerCheck = true;
					if(registerCheck2)
					{
						document.getElementById("Register").disabled = false;
					}
				}
				else
				{
					document.getElementById("EmailValidate").className = "glyphicon glyphicon-remove";
					document.getElementById("Register").disabled = true;
					registerCheck = false;
				}
			}
			else
			{
				document.getElementById("EmailValidate").className = "glyphicon glyphicon-remove";
				document.getElementById("Register").disabled = true;
				registerCheck = false;
			}

		});
		
		document.getElementById("seznamStrank").addEventListener("change", function () {
			var e = document.getElementById("seznamRacunov");
			

			var name_ex= this.options[this.selectedIndex].text.substr(0, this.options[this.selectedIndex].text.indexOf(','));
			for(var i = 0; i < e.length;i++)
			{
				var match_ex = e.options[i].text.substr(0, e.options[i].text.indexOf('(')-1);
				if(name_ex.localeCompare(match_ex) == 0)
				{
					e[i].classList.add("racun-stranke");
				}
				else
				{
					e[i].classList.remove("racun-stranke");
				}
			}
		});
	});
</script>
</body>
</html>